{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Login to BOOMBOXMUSIC</title>
  <link rel="stylesheet" type="text/css" href="{% static "bbm/css/login.css" %}">
</head>
<body>

 <button onclick="goBack()">Go Back</button>

        <script>
        function goBack() {
            window.history.back();
        }
        </script>

  {% if request.user.is_not_None %} 
  <p>You are now registed, Please login</p>
  {% endif %}     
  <section class="container"><center>
    <div class="login">
      <h2>LOGIN</h2>
      <form method="post" action="">
      {% csrf_token %}
        <p><input type="text" name="username" value="" placeholder="Username" required></p>
        <p><input type="password" name="password" value="" placeholder="Password" required></p>
        <!-- <h2>{{ error }}</h2> -->
        <!-- <p class="remember_me">
          <label>
            <input type="checkbox" name="remember_me" id="remember_me">
            Remember me on this computer
          </label>
        </p> -->
        <p class="submit"><input type="submit" name="commit" value="Login"></p>
      </form>
    </div>

    <div class="login-help">
      <p>
        Never Sign Up ? <a href="{% url 'bbm:register'%}">Click here to Sign Up</a> <br>
        <!-- Forgot your password? <a href="#">Click here to reset it</a>. -->
      </p>
    </div></center>
  </section>
</body>
</html>