<!-- paulcy.mboungou@gmail.com -->
{% load staticfiles %}
{% if request.user.is_authenticated %}

<!DOCTYPE html>
<html>
<head>
	<title>PLAYLIST</title>
	<link rel="stylesheet" type="text/css" href="{% static "bbm/css/index.css" %}">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- /*<style type="text/css">
	.navbar navbar-default{
		background-color: #1B7B98;
	}
	</style>*/ -->
</head>
<body>
	<!-- <center>
		<div class="menu">{% csrf_token %}
    		<ul>
	    		<li><span></span></li>
	    		<li><span></span><a href="{% url 'bbm:music' %}">MUSIC</a></li>
	   			<li><span></span><a href="{% url 'bbm:videos' %}">VIDEOS</a></li>
    			<li><span></span><a href="{% url 'bbm:photos' %}">PHOTOS</a></li>
    			<li><span></span><a href="{% url 'bbm:members' %}">MEMBERS</a></li>
    		</ul>
		</div>	
	</center>
 -->
    <nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <!-- <a class="navbar-brand" href="#">{{ request.user.username }}</a> -->
		      <img class="navbar-brand" src="{% static "bbm/images/moi.jpg" %}" >
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}<span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="{% url 'bbm:logout'%}"><font color="red">Logout</font></a></li>
		          </ul>
		        </li>
		        <li><a href="{% url 'bbm:index' %}">HOME</a></li>
		      </ul>
		      <!-- <form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
		        <button type="submit" class="btn btn-default">Submit</button>
		      </form>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">Link</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		          </ul>
		        </li>
		      </ul> -->
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
	</nav>



 <table width="90%" align="center" class="welcome_msg">
  <tbody>
    <tr>
      <td valign="top">

      <h1 align="center"> <font color="#E6B85C">BOOMBOXMUSIC TRACKLIST<br/> (Feel free to Download & Share) </font></h1>

      				<p>&nbsp; &nbsp; DOCTOR H - MES ADVERSAIRES</p>
        				<audio controls>
					 		<source src="{% static "bbm/music/Mes Adversaires.mp3" %}" type="audio/mp3" >
	    				</audio>
	    				<a href="{% static "bbm/music/Mes Adversaires.mp3" %}" download="PARC EDEN - DOCTOR H"><img src="{% static "bbm/images/download.png" %} " width="5%" ></a><br/>

	    			<p>&nbsp; &nbsp; DOCTOR H - BDJOULE</p>
        				<audio controls>
					 		<source src="{% static "bbm/music/DOCTOR H - BDJOULE .mp3" %}" type="audio/mp3" >
	    				</audio>
	    				<a href="{% static "bbm/music/DOCTOR H - BDJOULE .mp3" %}" download="DOCTOR H - BDJOULE "><img src="{% static "bbm/images/download.png" %} " width="5%" ></a><br/>

	    			<p>&nbsp; &nbsp; HPM - LLA</p>
        				<audio controls>
					 		<source src="{% static "bbm/music/HPM - LLA.mp3" %}" type="audio/mp3" >
	    				</audio> 
	    				<a href="{% static "bbm/music/HPM - LLA.mp3" %}" download="HPM - LLA"><img src="{% static "bbm/images/download.png" %} " width="5%" ></a><br/>

	    			<p>&nbsp; &nbsp; DOCTOR H - PARC EDEN</p>
        				<audio controls>
					 		<source src="{% static "bbm/music/PARC EDEN - DOCTOR H.mp3" %}" type="audio/mp3" >
	    				</audio>
	    				<a href="{% static "bbm/music/PARC EDEN - DOCTOR H.mp3" %}" download="PARC EDEN - DOCTOR H"><img src="{% static "bbm/images/download.png" %} " width="5%" ></a><br/>

	    			<p>&nbsp; &nbsp; DOCTOR H - MON VRAI VISAGE</p>
        				<audio controls>
					 		<source src="{% static "bbm/music/MON VRAI VISAGE - DOCTOR H.mp3" %}" type="audio/mp3" >
	    				</audio>
	    				<a href="{% static "bbm/music/MON VRAI VISAGE - DOCTOR H.mp3" %}" download="MON VRAI VISAGE - DOCTOR H"><img src="{% static "bbm/images/download.png" %} " width="5%" ></a><br/>

	    			<p>&nbsp; &nbsp; HPM - FIND MY WAY</p>
        				<audio controls>
					 		<source src="{% static "bbm/music/FIND MY WAY - HPM.mp3" %}" type="audio/mp3" >
	    				</audio>
	    				<a href="{% static "bbm/music/FIND MY WAY - HPM.mp3" %}" download="FIND MY WAY - HPM"><img src="{% static "bbm/images/download.png" %} " width="5%" ></a>  <br/><br/>
      </td>
    </tr>
  </tbody>
</table><br/>

<!-- <footer id="footer">
        <div class="container">
            <div class="text-center">
                <p> Copyright  &copy;2015<a href="#about"> BOOMBOXMUSIC </a>Theme. All Rights Reserved. <br> Designed by <a href="http://paulcymboungou.tk/">Paulcy Mboungou</a></p>                
            </div>
        </div>
    </footer> -->

</body>
</html>
{% endif %}