<!-- paulcy.mboungou@gmail.com -->
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>PLAYLIST</title>
	<link rel="stylesheet" type="text/css" href="{% static "bbm/css/index.css" %}">
</head>
<body>
	<center>
		<table>
			<tbody>
				<tr>
					<img src="{% static "bbm/images/bbm24.jpg" %}" width="90%" alt="BOOMBOXMUSIC"/>
				</tr>
			</tbody>
		</table>
	</center>
		
	<center>
		<div class="menu">{% csrf_token %}
    		<ul>
	    		<li><span></span><a href="{% url 'bbm:index' %}">HOME</a></li>
	    		<li><span></span><a href="{% url 'bbm:music' %}">MUSIC</a></li>
	   			<li><span></span><a href="{% url 'bbm:videos' %}">VIDEOS</a></li>
    			<li><span></span><a href="{% url 'bbm:photos' %}">PHOTOS</a></li>
    			<li><span></span><a href="{% url 'bbm:members' %}">MEMBERS</a></li>
    		</ul>
		</div>	
	</center>

	 <table width="90%" align="center" class="welcome_msg">
  <tbody>
    <tr>
      <td valign="top">

      <h1 align="center"> <font color="#E6B85C">BOOMBOXMUSIC TRACKLIST<br/> (Feel free to Download & Share) </font></h1>

      				<p>&nbsp; &nbsp; DOCTOR H - BDJOULE</p>
        				<audio controls>
					 		<source src="{% static "bbm/music/DOCTOR H - BDJOULE .mp3" %}" type="audio/mp3" >
	    				</audio>
	    				<a href="{% static "bbm/music/DOCTOR H - BDJOULE .mp3" %}" download="DOCTOR H - BDJOULE "><img src="{% static "bbm/images/download.png" %} " width="5%" ></a><br/>

	    			<p>&nbsp; &nbsp; HPM - LLA</p>
        				<audio controls>
					 		<source src="{% static "bbm/music/HPM - LLA.mp3" %}" type="audio/mp3" >
	    				</audio> 
	    				<a href="{% static "bbm/music/HPM - LLA.mp3" %}" download="HPM - LLA"><img src="{% static "bbm/images/download.png" %} " width="5%" ></a><br/>

	    			<p>&nbsp; &nbsp; DOCTOR H - PARC EDEN</p>
        				<audio controls>
					 		<source src="{% static "bbm/music/PARC EDEN - DOCTOR H.mp3" %}" type="audio/mp3" >
	    				</audio>
	    				<a href="{% static "bbm/music/PARC EDEN - DOCTOR H.mp3" %}" download="PARC EDEN - DOCTOR H"><img src="{% static "bbm/images/download.png" %} " width="5%" ></a><br/>

	    			<p>&nbsp; &nbsp; DOCTOR H - MON VRAI VISAGE</p>
        				<audio controls>
					 		<source src="{% static "bbm/music/MON VRAI VISAGE - DOCTOR H.mp3" %}" type="audio/mp3" >
	    				</audio>
	    				<a href="{% static "bbm/music/MON VRAI VISAGE - DOCTOR H.mp3" %}" download="MON VRAI VISAGE - DOCTOR H"><img src="{% static "bbm/images/download.png" %} " width="5%" ></a><br/>

	    			<p>&nbsp; &nbsp; HPM - FIND MY WAY</p>
        				<audio controls>
					 		<source src="{% static "bbm/music/FIND MY WAY - HPM.mp3" %}" type="audio/mp3" >
	    				</audio>
	    				<a href="{% static "bbm/music/FIND MY WAY - HPM.mp3" %}" download="FIND MY WAY - HPM"><img src="{% static "bbm/images/download.png" %} " width="5%" ></a>  <br/><br/>
      </td>
    </tr>
  </tbody>
</table><br/>

<center>
		<table width="90%" class="footer">
		<tbody>
  			<tr>
    			<th scope="col">POWERED BY</th>
    			<th scope="col">ADDRESS</th>
    			<th scope="col">CONTACT US</th>
    			<th scope="col">BOOMBOXMUSIC RECORDS</th>
  			</tr>
  			<tr>
  				<td valign="top"><br/>#KSC-CONGO<br> paulcy.mboungou@gmail.com <br>Copyright &copy; 2015 </td>
    			<td valign="top"><br/>BOOMBOXMUSIC RECORDS &#8482<br>INDIA, Telangana State, Hyderabad - 500008<br> CHINA, CONGO BRAZZAVILLE</td>
    			<td valign="top"><br/>Tel : (+91) 9700250406, <br>Email : boomboxmusic60@gmail.com<br/>Twitter: @boomboxmusic </td>
    			<td><center><img src="{% static "bbm/images/bbm1.jpg" %}" width="25%"/></center></td>
  			</tr>
  		</tbody>
		</table>
	</center>

</body>
</html>