<!-- paulcy.mboungou@gmail.com -->
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>GALLERY</title>
	<link rel="stylesheet" type="text/css" href="{% static "bbm/css/index.css" %}">
</head>
<body>
	<center>
		<table>
			<tbody>
				<tr>
					<img src="{% static "bbm/images/bbm24.jpg" %}" width="90%" alt="BOOMBOXMUSIC"/>
				</tr>
			</tbody>
		</table>
	</center>
		
	<center>
		<div class="menu">{% csrf_token %}
    		<ul>
	    		<li><span></span><a href="{% url 'bbm:index' %}">HOME</a></li>
	    		<li><span></span><a href="{% url 'bbm:music' %}">MUSIC</a></li>
	   			<li><span></span><a href="{% url 'bbm:videos' %}">VIDEOS</a></li>
    			<li><span></span><a href="{% url 'bbm:photos' %}">PHOTOS</a></li>
    			<li><span></span><a href="{% url 'bbm:members' %}">MEMBERS</a></li>
    		</ul>
		</div>	
	</center>

	 <table width="60%" align="center">
  <tbody>
    <tr>
    	<td valign="top" >
      		<img src="{% static "bbm/images/hk1.jpg" %}" alt="DOCTOR H" width="100%" />
        </td><br>

    	<td valign="top">
      		<img src="{% static "bbm/images/hpm2.jpg" %}" alt='HPM' width="100%" />
        </td>
    <tr>
    	
    <tr>	
    	<td valign="top">
      		<img src="{% static "bbm/images/hk2.jpg" %}" alt='DOCTOR H' width="100%" />
        </td>

        
    </tr>
  </tbody>
</table><br/>

<center>
		<table width="100%" class="footer">
		<tbody>
  			<tr>
    			<th scope="col">POWERED BY</th>
    			<th scope="col">ADDRESS</th>
    			<th scope="col">CONTACT US</th>
    			<th scope="col">BOOMBOXMUSIC RECORDS</th>
  			</tr>
  			<tr>
  				<td valign="top"><br/>#KSC-CONGO<br> paulcy.mboungou@gmail.com <br>Copyright &copy; 2015 </td>
    			<td valign="top"><br/>BOOMBOXMUSIC RECORDS &#8482<br>INDIA, Telangana State, Hyderabad - 500008<br> CHINA, CONGO BRAZZAVILLE</td>
    			<td valign="top"><br/>Tel : (+91) 9700250406, <br>Email : boomboxmusic60@gmail.com<br/>Twitter: @boomboxmusic </td>
    			<td><center><img src="{% static "bbm/images/bbm1.jpg" %}" width="25%"/></center></td>
  			</tr>
  		</tbody>
		</table>
	</center>

</body>
</html>